 @media screen and (max-width:576px){
    
.nav-option{
    display: none;
}
.ham-bar{
    display: block;
    color: white;
    width: 12px;
    height: 0;
    margin-right: 550px;
    
}
.container{
    font-family: Inter;
    width: 90%;
    gap: 30px;
}
.logo-color{
    width: 132px;
    height: 43px;
    font-size: 36px;
    font-weight: 800;

}
.navbar{
    margin-top: 40px;
    margin-left: 30px;
}

.banner-section{
    flex-direction: column;
    
}
.banner-content{
    display: flex;
   flex-direction: column;
    width: 90%;
}
.banner-img{
    width: 90%;
}
.banner-content h1{
    font-size: 30px;
    font-weight: 900;
    width: 285px;
    height: 125px;

}
.banner-content p{
    width: 274px;
    height: 94px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    
}
.Primary-btn{
    width: 50%;
    height: 55px;
    padding: 10px 10px;
    font-size: 14px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    margin-top: -0.01px; 
    
    
}
.secondary-btn{
    width: 50%;
    height: 40px;
    font-size: 14px;
    margin-top: 10px;
    border:1px solid rgb(255, 255, 255);
    
}
.banner-background{
    width: 150px;
    height: 70px;
    display: flex;

}
.text-workout {
    position: absolute;
    top: 50px;
    right: 10px;
  }
 .banner-background-text-tutorial p{
    font-size: 10px;

 }
 .text-tutorial {
    position: absolute;
    bottom: 200px;
    left: 0px;
  }
  #ball{
    bottom: 17px;
  }
  .habit-content{
    flex-direction: column;
    text-align: center;
  }

  .habit-content h2{
    width: 318px;
    height: 38px;
    font-size: 32px;
    font-weight: 900;
    margin: 0 auto;
    margin-left: 100px;
    
  }

  .habit-content p{
    width: 316px;
    height: 72px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 20px;
  }

  .habit-image{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image-01{
    
    width: 272px;
    height: 180px;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 20px;
    
}

.image-01 h3{
    width: 93px;
    height: 22px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 100px;
    margin: 0 auto;
}

.image-01 p{
    width: 231px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 8px;
    margin: 0 auto;
    margin-top: 10px;
}

.image-02{
    width: 272px;
    height: 180px;
    margin-top: 130px;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 150px;
}
.image-02 h3{
    width: 93px;
    height: 22px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    

}
.image-02 p{
    width: 272px;
    height: 180px;
    margin-top: 10px;
    padding: 8px 8px;
    margin: 0 auto;
    margin-top: 10px;

}
.image-03{
    width: 272px;
    height: 180px;
    margin-top: 130px;
    margin-left: 100px;
    margin-top: 150px;
}
.image-03 h3{
    width: 72px;
    height: 22px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 100px;
    margin-left: 40px;

}
.image-03 p{
    width: 272px;
    height: 180px;
    /* margin-top: -100px; */
    padding: 8px 8px;
    margin: 0 auto;
    margin-top: -100px;
     


}
.image-04{
    width: 272px;
    height: 180px;
    margin-top: 130px;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 150px;

}
.image-04 h3{
    width: 107px;
    height: 22px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 40px;
    
    

}
.image-04 p{
    width: 272px;
    height: 180px;
    margin-top: 10px;
    padding: 8px 8px;
    margin: 0 auto;


}

.run-section-start{
    margin-top: 900px;
    height: 900px;
    

    
}
.run-content{
    display: flex;
    flex-direction: column;
    height: 650px;
    margin-left: 10px;
    padding: 10px 5px;
    border-radius: 10px;
    margin-top: 100px;
    margin-right: 200px;
    margin: 0 auto;
    margin-top: 70px;
    

    

}
.run-content-text h3{
    width: 287px;
    height: 76px;
    font-size: 32px;
    font-weight: 900;
    margin: 0 auto;
}

.run-content-text p{
    width: 287px;
    height: 96px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 10px; 

 }

 .run-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    margin-top: 30px;

 }

 .run-image img{
    width: 350px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    margin: 0 auto;
 }

 .exercise-section{
    flex-direction: column;
    

 }

 .exercises {
    flex-direction: column;
    margin-top: -200px;
    padding-right: 220px;
 }

 .exercises h3 {
    width: 331px;
    height: 76px;
    font-size: 32px;
    font-weight: 900;
    margin-top: 50px;
    margin-left: 28px;
    
 }

 .exercises p {
    width: 331px;
    height: 72px;
    font-size: 14px;
    font-weight: 400;;
    padding: 10px 5px;
   margin-top: 10px;
 }
 .exercise-section img {
    width: 205.95px;
    height: 139px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: -10px;
    padding: 10px 5px;
    margin-top: 30px;
    
 }

 .exercise-img-2{
    margin-top: -100px;
}

.unique-section{
    display: flex;
    flex-direction: column;
    height: 1500px;
}

.unique-section-tittle{
    flex-direction: column;
}

.unique-section-tittle h2{
    font-size: 22px;
    font-weight: 900;
    margin-left: -0.001px;
    padding: 10px 5px;
    
}

.challenge-1{
    display: flex;
    flex-direction: column;
}

.part-1 h3{
    font-size: 22px;
    font-weight: 600;
    margin-top: -80px;
    padding: 5px 5px;

}

.part-1 p{
    font-size: 8px;
    font-weight: 400;
    margin-top: 20px;
    padding: 5px 5px;

}
.btn-1{
   font-size: 10px;
   border-radius: 20px;
   font-weight: 400;
   margin-top: -0.05px;
   padding-left: -20px;
   margin-left: 20px;
}
.part-1-img img{
    width: 210px;
    height: 139px;
    margin-top: 30px;
    margin-right: 250px;
    padding: 10px 5px;

}

.part-2-img{
    display: flex;
    flex-direction: column;

 }

 .part-2-img img{
    width: 205.95px;
    height: 139px;
    margin-top: 30px;

 }

 .challenge-2 h3{
    font-size: 22px;
    font-weight: 600;
    padding: 5px 5px;
    margin-top: 30px;
    padding: 5px 5px;
    margin-left: -28px;
 }

 .challenge-2 p{
    font-size: 8px;
    font-weight: 400;
    margin-top: -20px;
    padding: 5px 5px;
    margin-left: -28px;
 }

 .btn-2{
    font-size: 10px;
    border-radius: 20px;
    font-weight: 400;
    margin-top: -0.01px;
    padding-left: -20px;
    margin-left: -0.01px;

 }

 .challenge-3{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}

.part-3 h3{
    font-size: 22px;
    font-weight: 600;
    padding: 5px 5px;
    margin-top: 30px;
    padding: 5px 5px;
    margin-left: 5px;

}

.challenge-3 p{
    font-size: 8px;
    font-weight: 400;
    margin-top: -5px;
    padding: 5px 5px;
    margin-left: -1px;
    
 }

 .btn-3{
    font-size: 10px;
    border-radius: 20px;
    font-weight: 400;
    margin-top: -0.01px;
    padding-left: -10px;
    margin-left: -0.01px;
    margin-right: 10px;

 }

 .part-3-img img{
    width: 205.95px;
    height: 139px;
    margin-top: 30px;
    margin-right: 220px;

 }

 .part-4-img{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 50px;
 }

 .part-4-img img{
    width: 210px;
    height: 139px;
    margin-right: -100px;

 }

 .part-4 h3{
    font-size: 22px;
    font-weight: 600;
    padding: 5px 5px;
    margin-top: 30px;
    margin-left: 10px;

}
.part-4 p{
    
        font-size: 8px;
        font-weight: 400;
        margin-top: 20px;
        padding: 5px 5px;
        margin-left: 0.01px;
        
     }


.BMI-text{
    display: flex;
    flex-direction: column;

}

.BMI-text h1{
    font-size: 32px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 30px;
    width: 236px;
    height: 38px;
 }

 .BMI-text p{
    font-size: 14px;
    font-weight: 400;
    width: 353px;
    height: 72px;
 }
 .table-form{
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 335px;
    margin: 0 auto;
    

 }

 .table-form h3{
    width: 167px;
    height: 19px;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 30px;
}

.calculate-your-bmi{
    display: flex;
    flex-direction: column;


}

.calculate-your-bmi h3{
    width: 151px;
    height: 19px;
    font-size: 16px;
    font-weight: 900;
    margin-top: 50px;
    margin: 0 auto;
    padding-top: 80px;
    
 }

 .calculate-your-bmi p{
    width: 346px;
    height: 72px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.Primary-btn{
    width: 224px;
    height: 54px;
}

.meet-team-container{
    display: flex;
    flex-direction: column;
    margin-top: 450px;
   
}


.meet-team-container h2{
    width: 243px;
   height: 38px;
   font-size: 32px;
   font-weight: 900;
    margin: 0 auto;
}

.meet-team-container p{
    width: 309px;
    height: 72px;
    font-size: 14px;
    font-weight: 400;
 }
 .team-redius{
    height: 1850px;
    margin: 0 auto;
 }

 .meet-team-container img{
    display: flex;
    flex-direction: column;
    

 }

 .row-1,.row-2{

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 313px;
    margin-left: -0.10px;
    
 }

 .footer-grid{
    display: flex;
    flex-direction: column;
    margin-top: 1048px;
    height: 986px;


 }

 .footer h2{
    width: 256px;
    height: 84px;
    font-size: 45px;
    font-weight: 800;
    text-align: left;
    padding: 10px 5px;
    margin-left: -100px;

 }

 .footer p{
    width: 317px;
    height: 96px;
    font-size: 14px;
    font-weight: 400;
    margin-left: -100px;
    margin-top: -40px;
}

.footer-text{
    display: flex;
    flex-direction: column;

}
.get-started h2{
    width: 181px;
    height: 38px;
    font-size: 22px;
    font-weight: 700;
    margin-left: -100px;
    margin-top: 20px;

}
.get-started > ul > li > a {
    font-size: 20px;
    font-weight: 400;
    margin-left: -100px;
}
.copyright{
    width: 318px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    margin-top:-300px;

}

}
 
    

        



