@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.cdnfonts.com/css/miama?styles=170364");

*{
    padding: 0;
    margin: 0;
}

.container{
    font-family: "Inter", sans-serif;
    width: 80%; 
    margin: 0 auto;
     background-color: black; 
    margin-right: 100px;
}

.logo-color{
    width: 132px;
    height: 43px;
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}

nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255); 
  font-weight: 400;
}

.navbar{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 1060px;
  height: 46px;
  margin: 0 auto;
  margin-top: 50px;
  
}

.nav-option{
  
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 5px;
      align-items: center; 
      padding: 4px; 
      justify-content: space-between;
      padding: 10px 20px;
      width: 480px;
      height: 46px;
      font-size: 18px;
      font-weight: 400;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 50px;
      margin-left: 288px;
}
.home{
  color: #ffffff;
  background: #e6533c;
  border-radius: 36px;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  
}

.banner-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-top: 0 auto;
  color: #ffffff;
}

.banner-content h1{
  width: 500px;
  height: 282px;
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.banner-content p{
  width: 520px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#shape{
  font-family: Miama;

}
.Primary-btn{
  width: 224px;
  height: 54px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 16px 40px 16px 40px;

}
.secondary-btn{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  width: 224px;
  height: 54px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background: black;
}
.banner-img{
  position: relative;
  display: flex;
  justify-content: flex-end;
  
}
.banner-background {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  width: 190px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.text-workout {
  position: absolute;
  top: 150px;
  right: -60px;
}
.text-workout h3 {
  font-size: 2rem;
  font-weight: 900;
}
.text-tutorial {
  padding-left: 50px;
  position: absolute;
  bottom: 100px;
  left: -80px;
}
#ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
  bottom: 27px;
  left: 5px;
}


.habit{
  max-width: 1440px;
  height: 580px; 
  background:rgb(0, 0, 0);
}

.habit-content{
  width: 1044px;
  height: 452px;
  margin: 0 auto;
  padding-top: 50px;

}
.habit-content h2{
  width: 470px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-size: 44px;
  font-weight: 900;
  margin: 0 auto;

}

.habit-content p{
  width: 671px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 10px;
}
.habit-image{
 display: flex;
 flex-direction: row;
 
 
}
.habit-image img{
  border-radius: 50%;
 
}
.image-01{
  width: 270px;
  height: 180px;
  padding-left: 10px;
  
}
.image-01 h3{
  width: 93px;
  height: 22px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding-left: 40px;
}
.image-01 p{
  width: 231px;
  height: 36px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.image-02{
  width: 270px;
  height: 180px;
}
.image-02 h3{
  width: 44px;
 height: 22px;
 color: rgb(255, 255, 255);
 font-size: 18px;
 font-weight: 600;
 padding-left: 70px;

}

.image-02 p{
  width: 231px;
  height: 36px;
 color: rgba(255, 255, 255, 0.5);
 font-size: 14px;
 font-weight: 400;

}

.image-03{
  width: 240px;
  height: 180px;
}

.image-03 h3{
  width: 72px;
  height: 22px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding-left: 60px;
}

.image-03 p{
  width: 231px;
  height: 36px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.image-04{
  width: 270px;
  height: 180px;
}

.image-04 h3{
  width: 107px;
  height: 22px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding-left: 60px;
}

.image-04 p{
  width: 231px;
  height: 36px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;

}

.run-section-start{
  max-width: 1440px;
  height: 470px;
  background:rgb(0, 0, 0); 
  padding-top: 50px;

}

.run-content{
  
   display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 1000px;
  height: 350px;
  margin: 0 auto;
  background:rgb(33, 33, 33);
  padding-top: 50px;

}
.run-content-text{
  margin: 0 auto;
  background:rgb(33, 33, 33);
  
  
}
.run-content-text h3{
  width: 443px;
  height: 116px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  text-align: left;
}


.run-content-text p{
  width: 443px;
  height: 72px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-align: left;

}
.run-btn{
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding: 16px 40px 16px 40px;
  padding-left: 60px;

}

.run-image img{
  width: 366px;
  height: 312px;
  border-radius: 18px;
  padding-left: 100px;

}

.exercises {
  margin: 60px auto;
  width: 50%;
  text-align: center;
}
.exercises h3 {
  width: 573px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  text-align: left;
}
.exercises p {
  width: 671px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  padding: 20px 10px;

}
.exercise-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exercise-img-1{
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 250px;
}
.exercise-img-2{
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 250px;
}


.unique-section{
  max-width: 1440px;
  height: 1120px;
  background:rgb(33, 33, 33);
  
}

.unique-section-tittle{
  width: 1080px;
  margin: 0 auto;
  padding-top: 30px;
}
.unique-section-tittle h2{
  width: 476px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  margin: 0 auto;

}
.challenge-1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

}
.part-1 h3{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
}
.part-1 p{
  width: 500px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.part-1-img img{
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

.part-2-img{
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  

}
.challenge-2 h3{
  width: 573px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
  padding: 20px 10px;
  padding-left: 30px;
}
.challenge-2 p{
  width: 500px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  padding: 20px 10px;
  padding-left: 30px;
  margin-top: -50px;

}


.challenge-3{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

}
.part-3 h3{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
}
.part-3 p{
  width: 500px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.part-3-img img{
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

.part-4-img img{
  border-radius: 10px;
}

.part-4-img{
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  
  

}
.challenge-4 h3{
  width: 573px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
  padding: 20px 10px;
  padding-left: 30px;
}
.challenge-4 p{
  width: 500px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  padding: 20px 10px;
  padding-left: 30px;
  margin-top: -50px;

}

.btn-1{
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  margin-top: 30px;
}
.btn-1 a{
  text-decoration: none;
  color: rgb(255, 255, 255);

}
.btn-2{
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  margin-left: 50px;

}
.btn-2 a{
  text-decoration: none;
  color: rgb(255, 255, 255);

}
.btn-3{
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  margin-top: 30px;

}
.btn-3 a{
  text-decoration: none;
  color: rgb(255, 255, 255);

}
.btn-4{
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  padding-left: 20px;
  margin-left: 50px;

}
.btn-4 a{
  text-decoration: none;
  color: rgb(255, 255, 255);

}

.table-form {
  display: flex;
  justify-content: space-between;
}
.bmi-text {
  text-align: center;
  margin: 70px 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 216px;
  color: #ffffff80;
}
table th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 18px;
  text-align: left;
  color: #ffffff;
}
table td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 18px;
}
.table-form {
  padding: 50px;
  background: rgb(34, 34, 34);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.table-form h3{
  width: 443px;
height: 34px;
color: rgb(255, 255, 255);
font-size: 28px;
font-weight: 900;
}

.calculate-your-bmi p {
  margin-bottom: 1rem;
}
.input {
  display: flex;
  gap: 3%;
}
input,
select {
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
}
.select-full {
  margin-bottom: 10px;
}

.calculate-your-bmi h3{
  width: 443px;
  height: 34px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  
}

.calculate-your-bmi p{
  width: 577px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}



.BMI-text h1{
  width: 353px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin: 0 auto;
  margin-top: 30px;

}

.BMI-text p{
  width: 671px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}

